<div class="thanks white-panel">
    <div class="thanks-img ">
        <img src="{{  asset('bundles/adminbundle/img/thanks.png') }}">
        <div class="thanks-text">
           {% trans %}cart.thanks{% endtrans %}
        </div>
        <div class="thanks-desc">
            {% trans %}cart.thanks.message{% endtrans %}

        </div></div>
	
		
</div>
<script>
	UpdateCart();
</script>