<?xml version="1.0" encoding="UTF-8"?>
<stylesheet>

    <any font-size="11" font-type="DejaVuSans">
    </any>

    <p margin="0" padding="0">
    </p>

    <any class="invoice-data" float="right" width="270px" padding-top="13px">
    </any>

    <h3 font-style="bold" margin="0" font-size="13px">
    </h3>
    <div class="top-info" margin-top="20px" height="150px">
        <div margin-top="13px"></div>

        <div class="w49" width="49%"></div>
     <div class="w50" width="50%" float="left"></div>
    <div class="left-info"     >
        <p font-size="12px"></p>
        <div class="left-footer">
            <p font-size="12px" font-style="bold"></p>
        </div>
    </div>

    <div class="right-info"  height="100%" float="right" border.type="all" border.size="1px" border.color="#000000" padding="3px"  >
        <p font-size="15px"></p>
    </div>
    </div>
    <div class="bill" width="50%" float="left" margin-top="27px">
    </div>

    <table class="invoice" margin-top="27px">
        <tr class="head">
            <td text-align="center" border.type="all" border.size="0px" border.color="#000000" font-style="bold">
            </td>
        </tr>

        <td  padding="6.5px" border.type="none" border.size="0px" border.color="#000000" font-size="12px">
            <p font-size="12px"></p>
        </td>

        <td class="no-border" border.type="none">
        </td>
    </table>

    <any class="center" text-align="center">
    </any>
    <div class="before-sumary" margin-top="15px">
      <p width="49%" float="left"></p>
    </div>
    <div class="footer" height="27px">
        <table>
            <tr border.type="none">
                <td font-size="9px" border.type="none">
                    <b font-size="9px">
                    </b>
                </td>
            </tr>
        </table>
    </div>
</stylesheet>