<div class="col-xs-12">
<div class="row">
{% block breadcumb %}
    {% block additional_controls %}

    {% endblock %}
    <ul class="breadcumb">
        <li ><a href="{{ url('store_start') }}">{% trans %}start{% endtrans %} </a>    <i class="fa fa-chevron-right"></i></li>
        {% block breadcumb_child %}
            {% endblock %}
    </ul>


{% endblock %}
</div>
    {% block title_block %}
<div class="row page-title">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">{% block title %}{% endblock %}</h3>

                        <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <!-- /.box-body -->
    </div>


</div>
    {% endblock %}
<div class="row">
{% block error %}
<div class="alert alert-danger alert-dismissible" style="display: none;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-ban"></i>{% trans %} message.text{% endtrans %}</h4>
    <div>{% block error_text %}{% endblock %}</div>
</div>

    {% endblock %}
</div>
            <!-- Content Header (Page header) -->
<div class="row">
           {% block content %}
            {% endblock content %}
</div>
</div>
            {% block javascript %}

            {% endblock %}
  {% block additional_scripts %}

  {% endblock %}