{% extends "StoreAdminBundle:Layouts:_index.html.twig" %}

{% block mod_name %}Category list{% endblock %}


    {% block headers %}
        <th>Name</th>
        <th>Actions</th>
    {% endblock headers %}

 {% block tablecontent %}
{% for entity in entities %}
            <tr>
                <td><a href="{{ path('category_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>

                <td>
                <ul class="grid_actions">
                    <li>
                        <a href="{{ path('category_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('category_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}

 {% endblock tablecontent %}