<html>
<head>

</head>
<body>
<div>
    <div style="width: 48px; float: left">
        <img src="{{ app_img }}" width="48px">
    </div>
    <div>
        <h2 style="padding: 10px;"> {{ app_name }}</h2>
    </div>
</div>
<div style="clear: both"></div>
<div>
    {{ app_text }}</div>

</body>
</html>
